media
models
wandb
figures
visualize.ipynb
record.ipynb
*.pyc
.ipynb_checkpoints
fast_td3.egg-info/
outputs/
*.err
*.out
*.sif
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.pt
*.pth
*.pkl
*.json
*.yaml
*.yml
*.csv